@page
@using LetsGoPark.WebSite.Components

<!--Links our site.css style sheet to the document-->
<link rel="stylesheet" type="text/css" href="~/css/site.css">

@{
    //Saves the title of the webpage
    ViewData["Title"] = "About Us";
}

<body class="aboutUsAndPrivacyFormat">
<div class="aboutus-section">
    <h1>About Us</h1>
    <h3 class="aboutus-body">Our mission is to make connections between Seattle's mesmerizing parks and like-minded people who share a passion for specific interests and activities.</h3>
</div>
<br />

<div class="row">
    <div class="aboutus-column">
        <div class="aboutus-card">
            <div class="aboutus-container">
                    <h2>Nicholas McNamara</h2>
                <p class="aboutus-title">Developer</p>
                    <p>Graduate student at <strong>SEATTLEU</strong></p>
                    <p>Email: nmcnamara@seattleu.edu</p>
                    <p><a href="mailto:nmcnamara@seattleu.edu" class="aboutus-button">Contact</a></p>
            </div>
        </div>
    </div>

    <div class="aboutus-column">
        <div class="aboutus-card">
            <div class="aboutus-container">
                <h2>Lei Meng</h2>
                <p class="aboutus-title">Developer</p>
                    <p>Graduate student at <strong>SEATTLEU</strong></p>
                    <p>Email: lmeng2@seattleu.edu</p>
                    <p><a href="mailto:lmeng2@seattleu.edu" class="aboutus-button">Contact</a></p>
            </div>
        </div>
    </div>
</div>

<div>
<h2><strong>Our Story</strong></h2>
    <div>

    <p>
        <br />Imagine being nature enthusiasts, yearning for an online platform that perfectly captures the essence of Seattle's breathtaking parks. Frustratingly, our search yielded no results. Undeterred, we decided to embark on a remarkable journey of our own.
    <p>
    <p>
        Driven by our love for the great outdoors and a burning desire to create something extraordinary, we set out to fill the void we felt. Armed with determination and a shared vision, we poured our hearts and souls into developing a website that would revolutionize the way people like us connect with nature.
    <p>
    <p>
        Countless hours were dedicated to crafting a platform that resonates with fellow parkgoers. We meticulously curated a space where individuals could find their ideal park experience, tailor-made to their interests and desired activities.
    <p>
    <p>
        Today, our dream has become a reality. We proudly present this remarkable website, the result of our passion and dedication. Join us on this adventure as we bring the wonders of Seattle's parks closer to your fingertips, enabling unforgettable connections with nature and like-minded individuals.

    <p>
    <p>
        Welcome to our extraordinary journey. Welcome to our world of park exploration and serenity. <br />
    </p>
    </div>
</div>
</body>