@page
@using LetsGoPark.WebSite.Components
@model AboutUsModel
@{
    //Saves the title of the webpage
    ViewData["Title"] = "About Us";
}
<!--Loads title of the page-->
<h1>@ViewData["Title"]</h1>
<!--Displays the information that pertains to the developers of the website-->
<p>About Us to come later.</p>
