@page "{id}"
@using LetsGoPark.WebSite.Services
@inject JsonFileParksService ParksService
@model LetsGoPark.WebSite.Pages.DeleteParkModel

@{
    ViewData["Title"] = "Delete page";
}

<h1>Delete</h1>

<div class="readpageformat">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(x => x.Park.Id)
        
        @Html.DisplayFor(x => x.Park.Id) <br />
        @Html.DisplayFor(x => x.Park.Description) <br />
        @Html.DisplayFor(x => x.Park.Activities) <br />
        
        <h1>Are you sure you want to delete this park?</h1>
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-primary" />
        </div>
    </form>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }