@page
@using LetsGoPark.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<h5 class="homepageformat">"Ready to explore sunny Seattle? </h5>
<img src="~/Images/Tree.jpg" alt="Tree image" />
<p class="homepageformat">
    <strong>Let's Go Park</strong> your worries and take ahike! <br />
    Get ready to have a <em>tree-mendous</em> time and make some memories that will <em>leaf</em> you smiling! <br />
    We've got the inside scoop on Seattle's city, state, and federal parks, so come <em>branch</em> out and discover your new favorite spot.
    <br />
    <br />
</p>
<h5 class="homepageformat">Highest Rated Park:</h5>
<p class ="homepageformat"> <span>To come Later</span></p>
