@page
@using LetsGoPark.WebSite.Components
@model ParksIndexModel
@{
    ViewData["Title"] = "Parks Index";
}

<h1>@ViewData["Title"]</h1>

@(await Html.RenderComponentAsync<ParksIndex>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>