@page
@model PrivacyModel
@{
    //Saves the title of the webpage
    ViewData["Title"] = "Privacy Policy";
}

<!--Displays the title of the page-->
<h1>@ViewData["Title"]</h1>
//adding privacy policy

<p>
    This website takes your privacy seriously. We will collect and use any personal information provided to us only for the purpose of improving our service to you, and will not share or sell your information to any third parties.
</p>
//adding info on what info can be collected 
<p>
    We may collect non-personal information, such as your browser type, IP address, and pages visited, in order to analyze trends and improve our website. This information will not be used to identify individual users.
</p>
//adding contact us.
<p>
    If you have any questions or concerns about our privacy policy, please don't hesitate to <a href="/contact">contact us</a>.
</p>
