@page
@model PrivacyModel
@{
    //Saves the title of the webpage
    ViewData["Title"] = "Privacy Policy";
}

<!--Displays the title of the page-->
<h1>@ViewData["Title"]</h1>

<!--Displays the privacy policy-->
<p>Use this page to detail your site's privacy policy.</p>
