@page "{id}"
@using LetsGoPark.WebSite.Services
@inject JsonFileParksService ParksService
@model LetsGoPark.WebSite.Pages.UpdateParkModel

@{
    ViewData["Title"] = "Contribute to our Parks List";
}

<h1>@ViewData["Title"]</h1>


<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(x => x.Park.Id)

        <div class="form-group">
            <label asp-for="Park.Title" class="control-label"></label>
            <input asp-for="Park.Title" class="form-control" />
            <span asp-validation-for="Park.Title" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Park.Description" class="control-label"></label>
            <input asp-for="Park.Description" class="form-control" />
            <span asp-validation-for="Park.Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Park.Address" class="control-label"></label>
            <input asp-for="Park.Address" class="form-control" />
            <span asp-validation-for="Park.Address" class="text-danger"></span>
        </div>

        <div class="form-group">

            <label asp-for="Park.Url" class="control-label"></label>
            <input asp-for="Park.Url" class="form-control" />
            <span asp-validation-for="Park.Url" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Park.Image" class="control-label"></label>
            <input asp-for="Park.Image" class="form-control" />
            <span asp-validation-for="Park.Image" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Park.Map_brochure" class="control-label"></label>
            <input asp-for="Park.Map_brochure" class="form-control" />
            <span asp-validation-for="Park.Map_brochure" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Park.Phone" class="control-label"></label>
            <input asp-for="Park.Phone" class="form-control" />
            <span asp-validation-for="Park.Phone" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Park.Park_system" class="control-label"></label>
            <input asp-for="Park.Park_system" class="form-control" />
            <span asp-validation-for="Park.Park_system" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Park.Activities" class="control-label"></label>
            <input asp-for="Park.Activities" class="form-control" />
            <span asp-validation-for="Park.Activities" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Park.Permits" class="control-label"></label>
            <input asp-for="Park.Permits" class="form-control" />
            <span asp-validation-for="Park.Permits" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }